$icons-family: 'umerkulovb';
$icons-path: '../fonts/';

@font-face {
  font-family: $icons-family;
  src:  url('#{$icons-path}#{$icons-family}.eot?91902690');
  src:  url('#{$icons-path}#{$icons-family}.eot?91902690#iefix') format('embedded-opentype'),
        url('#{$icons-path}#{$icons-family}.woff2?91902690') format('woff2'),
        url('#{$icons-path}#{$icons-family}.woff?91902690') format('woff'),
        url('#{$icons-path}#{$icons-family}.ttf?91902690') format('truetype'),
        url('#{$icons-path}#{$icons-family}.svg?91902690\##{$icons-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: $icons-family;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
