@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700");

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  background: $base-background-color url("../images/background.png");
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  line-height: $base-line-height;
  display: table;
  min-height: 100%;

  section.container {
    vertical-align: middle;
    display: table-cell;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
}

.social {
  padding: $base-spacing 0;

  li {
    display: inline-block;
    padding: 0 ($base-spacing/2.5);

    a {
      color: $base-font-color;
      transition: all 0.3s ease 0s;

      &:hover, &:active, &:focus {
        color: $primary-color;
      }
    }

    i { font-size: 1.2em; }
  }
}
